<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAG01s2RWpZQ95E5BwlHWDNR5FHm_3BhI</string>
	<key>GCM_SENDER_ID</key>
	<string>1025171489135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payflow.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>payflow-abc82</string>
	<key>STORAGE_BUCKET</key>
	<string>payflow-abc82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025171489135:ios:41a2e8c3e10f6363fd689a</string>
</dict>
</plist>